//- ---
pageTitle: Get The Course | Tech Learning
page: get-course
//- ---
extends ../../_layouts/_base.pug
block body
  section.contact
    .container
      .main-heading
        h1 Get Course
        p Connect To Us To Get Course

      .content-area
        h2 Click a Box
        .blocks-area
          #whatsapp.block.whatsapp
            i.fa.fa-brands.fa-whatsapp
            h3 Whatsapp
          #email.block.email
            i.fa.fa-solid.fa-phone
            h3 Phone
        .overlay
        .menus-area
          #whatsapp-menu.whatsapp
            .menubar
              i.fa.fa-brands.fa-whatsapp.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Talk To Center
                    span recommended
                  a.main-button(href="https://wa.me/+201145022698") Go
                .option
                  p
                    | Talk To Mentor
                  a.main-button(href="https://wa.me/+201145022698") Go
          #email-menu.email
            .menubar
              i.fa.fa-solid.fa-phone.fa-fw.icon
              i.fa.fa-solid.fa-close.fa-fw.close
            .content
              .select-box
                .option
                  p
                    | Talk To Center
                    span recommended
                  a.main-button(href="", onclick="copyNumber('center-copy')") Copy Number
                  input#center-copy(
                    type="text",
                    hidden,
                    value="01145022698",
                    content-editible="false"
                  )
                .option
                  p
                    | Talk To Mentor
                    span recommended
                  a.main-button(href="", onclick="copyNumber('mentor-copy')") Copy Number
                  input#mentor-copy(
                    type="text",
                    hidden,
                    value="01145022698",
                    content-editible="false"
                  )
